html {
    height: 100%;   /* header 20 - main 60 - footer 20 */
}

body {
    height: 100%;
}


/*parte do header */

/* 1- header flex para que logo e nav poidan moverse*/
header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

/* 2- o nav necesita un width de polo menos a metade do header para que os elementos de dentro poidan separase un dos outros*/
/*outra opción: flex-end + márgenes*/
header > nav {
    width: 50%;
}

/*ahora os elementos teñen espacio para separarse*/
ul:first-of-type {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*parte main*/
main {
    display: flex;
    flex-direction: row;
    height: 60%;
}



/*parte footer*/
footer {
    height: 20%;
}

ul:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:0;    /*todas as listas teñen por defecto un padding á esquerda*/
}